<div>
  <form (ngSubmit)="sendRequest()">
  <h2>Language Detection</h2>
  <p>Enter the text you want us to the detect the language from:</p>
  <input type="text" className="form-control" name="text" [(ngModel)]="text">
  <div>
    <input type="checkbox" name="checkbox" [(ngModel)]="clean"> Clean
  </div>
    <button type="submit">Submit</button>
  </form>


  <div *ngIf="results">
    <div *ngFor="let language of results">
      <h3>Language: {{language.lang}}</h3>
      <h3>Confidence level: {{language.confidence}}</h3>
    </div>

  </div>
</div>
