<div *ngIf="!token">
  <body class="bg-light">
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
      <h3 class="text-center mb-4">Login</h3>
      <form (ngSubmit)="sendRequest()">
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" name='email' [(ngModel)]="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" name='password' [(ngModel)]="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>

  </body>

</div>

<div *ngIf="token">
  <div class="text-center mt-3">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</div>
